extends layout
  
block content
    div(class='flex flex-col items-center p-6')
        h1(class='text-center font-bold text-xl mt-6') Confirmation d'abonnement à la newsletter
        p Merci ! Votre abonnement à notre newsletter a été confirmé avec succès.
        p Restez à l'écoute pour les dernières mises à jour et offres exclusives.
