doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="flex justify-center items-center w-screen h-screen")
      div(class="p-6 tracking-wider w-[70%] max-w-[700px] rounded-xl bg-slate-200")
        h1(class="text-center font-bold text-2xl mb-6") 
          | Confirmation d'abonnement à la newsletter 
          div(class="text-secondary-blue text-lg") Fédérqtion des entreprises du congo (FEC)
        p Merci ! Votre abonnement à notre newsletter a été confirmé avec succès.
        p Restez à l'écoute pour les dernières mises à jour et offres exclusives.