extends layout

block content
  div(class='dashboard') 
    h1 Bienvenue sur le tableau de bord administrateur
    p Ce tableau de bord vous permet de gérer les demandes, les utilisateurs, les statistiques et les paramètres de votre application.
    p Veuillez sélectionner une option dans le menu ci-contre pour commencer.

  head 
    link(rel="stylesheet", href="/stylesheets/dashboard.css")