doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/checkToken.js", defer)
    script(src="/javascripts/main.js", defer)
  body
    div(id='container' class='grid grid-cols-[max-content,1fr] grid-rows-[max-content,auto,max-content] gap-6 min-h-screen max-w-screen')
      div(class="col-start-1 col-end-3 row-start-1 row-end-2 bg-secondary-blue p-6 text-white")
        div(class="flex justify-between") 
          div(class="logo")
            img(src="/images/logoFec.svg" alt="logo de la fec" class="w-20")
          div(class='logout cursor-pointer') Connecté         
      div(class="col-start-1 col-end-2 row-start-2 row-end-3 bg-secondary-blue p-6 text-white text-xl roboto-bold lg:w-[280px]")
        h1(class="mb-6 text-center") Tableau de bord
        div(class="flex flex-col gap-y-6")
          h2 
            a(href='/dashboard') Menu
          a(href="/demandes" class="flex items-center gap-x-2")
            img(src="/images/data_thresholding.svg")
            span Démandes
          a(href="/users/server" class="flex items-center gap-x-2") 
            img(src="/images/users.svg")
            span Utilisateurs
          a(href="/messages" class="flex items-center gap-x-2") 
            img(src="/images/mail.svg")
            span Messages
          a(href="/newsletters" class="flex items-center gap-x-2") 
            img(src="/images/news.svg")
            span NewsLetters
          a(href="/rapport" class="flex items-center gap-x-2") 
            img(src="/images/monitoring.svg" class="flex items-center gap-x-2")
            span Rapport
      div(class="col-start-1 col-end-3 row-start-3 row-end-4 bg-secondary-blue text-white p-6") 
        div
          img(src="/images/logoFec.svg" alt="logo de la féderation des entreprises" class="w-20 mb-3")
        div &copy; 2024 - Fédération des Entreprises du Congo. Tous droits réservés
      div(class="col-start-2 col-end-3 row-start-2 row-end-3 w-[98%] roboto-regular")
        block content
