doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/auth.js", defer)
    script(src="/javascripts/main.js", defer)
  body(class="bg-zinc-200 h-screen max-h-screen overflow-hidden")
    div(id='container' class='h-full w-full pb-1 overflow-y-hidden flex flex-col gap-y-6')
      div(class="bg-secondary-blue py-6 px-12 text-white h-[10%]")
        div(class="flex justify-between items-center h-full") 
          div(class="logo")
            img(src="/images/logoFec.svg" alt="logo de la fec" class="w-20")
          div(class='flex gap-x-2 items-center')
            img(src="/images/person.svg", alt="avatar" class="w-8")
            div.name(class='capitalize text-xl font-bold')
      div(class="flex h-[90%]")        
        div(class=" bg-secondary-blue text-white text-xl roboto-bold lg:w-[280px] font-semibold text-gray-50 h-full")
          div(class="h-4/5 pt-4")
            h1(class="mb-6 text-center") Tableau de bord
            div(class="flex flex-col justify-between")
              h2(class='hover:opacity-80 hover:bg-slate-600') 
                a(href='/dashboard' class="block px-6 py-3") Menu
              a(href="/demandes" class="flex items-center gap-x-2 px-6 py-3 hover:opacity-80 hover:bg-slate-600")
                img(src="/images/data_thresholding.svg" class="w-8")
                span Démandes
              div(class="group relative px-6 py-3 hover:opacity-80 hover:bg-slate-600")
                div(class="flex items-center gap-x-2")
                  img(src="/images/users.svg" class="w-8")
                  span Utilisateurs
                  img(src="/images/expand_more.svg", alt="more" class="ml-auto mr-0 w-10 group-hover:rotate-180 transition ease-in-out duration-500")
                ul(class='invisible opacity-0 absolute -top-3 left-full bg-secondary-blue flex flex-col group-hover:opacity-100 group-hover:visible transition ease-in-out duration-500') 
                  li(class='hover:opacity-80 hover:bg-slate-600') 
                    a(href="/users/server/create" class="text-nowrap px-3 py-2 block") Creer un nouveau membre
                  li(class='hover:opacity-80 hover:bg-slate-600') 
                    a(href="/users/server" class="text-nowrap px-3 py-2 block") Gestion des comptes utilisateurs
              a(href="/messages" class="flex items-center gap-x-2 px-6 py-3 hover:opacity-80 hover:bg-slate-600") 
                img(src="/images/mail.svg" class="w-8")
                span Messages
              a(href="/newsletters" class="flex items-center gap-x-2 px-6 py-3 hover:opacity-80 hover:bg-slate-600") 
                img(src="/images/news.svg" class="w-8")
                span NewsLetters
              a(href="/rapport" class="flex items-center gap-x-2 px-6 py-3 hover:opacity-80 hover:bg-slate-600") 
                img(src="/images/monitoring.svg" class="flex items-center gap-x-2" class="w-8")
                span Rapport
          div.logout(class="flex items-center gap-x-3 cursor-pointer px-6 hover:opacity-80 hover:bg-slate-600 h-1/5") 
            img(src="/images/logout.svg", alt="logout" class="w-6")
            span  Se déconnecter
        div(class="roboto-regular overflow-y-scroll h-full w-full px-3")
          block content
