h1 {
    text-align: center;
    margin-bottom: 25px;
}
.utilisateur {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.userInfo {
    display: flex;
    justify-content: space-between;
}

.suiviUtilisateur div {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.suiviUtilisateur select, .suiviUtilisateur button {
    display: inline-block;
    padding: 12px 25px;
    width: max-content;
    font-weight: 600;
}

.suiviUtilisateur p {
    display: none;
}

table tr {
    border: 2px solid #ccc;
}
table tr:even {
    background-color: rgb(171, 171, 212);
}
td, th {
    padding: 8px 12px;
}
table {
    margin-inline: auto;
}

@media screen and (min-width: 480px) {
    .utilisateur {
        font-size: 18px;
    } 
    h1 {
        font-size: 24px;
    }

}

@media screen and (min-width: 786px) {
    h1 {
        font-size: 32px;
    }
    .utilisateur {
        font-size: 18px;
    } 
    .utilisateur div:nth-child(1), .utilisateur div:nth-child(2) {
        margin-left: 100px;
    }
    .suiviUtilisateur button {
        margin-top: 25px;
    }

}

