h1 {
    text-align: center;
    color: var(--secondary-blue);
    margin-bottom: 25px;
}

.form {
    border: 2px solid var(--primary-blue);
    padding: 25px;
    width: 100%;
}
form {
    display: flex;
    column-gap: 25px;
    margin-block: 15px;
    width: 100%;
}
form div {
    display: flex;
    column-gap: 25px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 15px;
}
#nom, #prenom {
    width: 120px;
}
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    border: none;
}
.liste-users {
    margin-top: 50px;
}
table {
    width: 100%;
}
thead {
    background-color: #ccc;
    padding: 5px;
}
th, td {
    text-align: center;
}
td a {
    padding-inline: 3px;
}

.statistic {
    margin-block: 50px;
}
.btns {
    display: flex;
    column-gap: 25px;
    margin-block: 25px;
}

@media screen and (min-width: 648px) {
    .rapport {
     font-size: 18px;
    }
 }