.animated-arrow {
    animation: arrow_downward 1s infinite alternate;
  }
  
  @keyframes arrow_downward {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px);
    }
  }
.animate-arrowForward {
  animation: arrowForward 1s infinite alternate;
}

@keyframes arrowForward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

.linear-bg {
  background: linear-gradient(to left top, #00194C -19%, white, white, 95%, #00194C);
}
  
.notifications ul {
  display: none;
}
.notifications:hover ul {
  display: block;
}
.bg_services01 {
  background-image: url('./assets/images/bg_services.png');
  background-repeat: no-repeat;
}

/* SHADOW */
.shadow-membre-item {
  box-shadow: 0px 0px 12px 2px rgb(196, 195, 195);
}
.shadow-membre-box {
  box-shadow: 0px 0px 8px 0px rgb(196, 195, 195);
}

.shadow-top {
  box-shadow: 
    0 -10px 15px -3px rgba(0,0,0,.1), 
    0 -4px 6px -4px rgba(0,0,0,.1);
}
.shadow-bottom {
  box-shadow: 
    0 10px 15px -3px rgba(0,0,0,.1), 
    0 4px 6px -4px rgba(0,0,0,.1);
}

.avatar:hover svg {
  fill: #4885ff;
}

.avatar:hover div {
  color: #4885ff;
}

/* BTN PLAY */
/* .slick-prev::before,
.slick-next::before {
  font-size: 50px;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #333;
} */

