.animated-arrow {
    animation: arrow_downward 1s infinite alternate;
  }
  
  @keyframes arrow_downward {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px);
    }
  }

  .animated-visible {
    animation: visible_image 6s infinite alternate;
  }
  
  @keyframes visible_image {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.notifications ul {
  display: none;
}
.notifications:hover ul {
  display: block;
}
.bg_services01 {
  background-image: url('./assets/images/bg_services.png');
  background-repeat: no-repeat;
}

/* SHADOW */
.shadow-membre-item {
  box-shadow: 0px 0px 22px 2px rgb(196, 195, 195);
}
.shadow-membre-box {
  box-shadow: 0px 0px 22px 2px rgb(196, 195, 195);
}

.shadow-footer {
  box-shadow: 
    0 -10px 15px -3px rgba(0,0,0,.1), 
    0 -4px 6px -4px rgba(0,0,0,.1);
}

/* BTN PLAY */
/* .slick-prev::before,
.slick-next::before {
  font-size: 50px;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #333;
} */

